body{
    font-family: Libre Franklin;
    margin: auto;
}


#left{
    position:fixed;
}

/*Dynamic sizing dependent on width of viewport; if the viewport is smaller than 982 px, the two columns of the webpage are stacked on top of each other*/
@media screen and (max-width: 990px) {
    #left {
        width: 100%;
        position: static;
    }

    #right{
        width: 100%;
        position: static;
    }
  }

h1{
    font-size: 90px;    
}

h2{
    font-size:60px;
}

h3{
    font-size:40px;
}

p, label, input, blockquote{
    color: #6D6D6D;
}

.navlink{
    font-size:20px;
    text-decoration:none;
}

button{
    background-color:white;
    border-color:white;
}