<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/favicon.ico" rel="icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>About</h1>
        <nav>
            <a href="/">Essence</a> |
            <a href="/about.html">About</a>
        </nav>
        <h2>Inspiration</h2>
        <h2>Creator</h2>

    </body>
</html>