<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/favicon.ico" rel="icon">
    </head>

    <body>
        <h1>Essence</h1>
        <h2>Parameters:</h2>
        <form>
            <label for="date_start">Date (Start):</label>
            <input type="date" id="date_start" name="date_start" required autocomplete="off"><br><br>
            <label for="date_end">Date (End):</label>
            <input type="date" id="date_end" name="date_end" required autocomplete="off"><br><br>
            <label for="url">URL: </label>
            <input type="url" id="url" id="url" required autocomplete="off"><br><br>
        </form>
    </body>
</html>