<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles.css" />
        <link href="/static/favicon.ico" rel="icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>

    <body>
        <script>
            
            phrases = {{ query.phrases|tojson }}
            len_text_formatted = {{ query.len_text_formatted|tojson }};
            sentiments_formatted = {{ query.sentiments_formatted|tojson }};
            window.onload=function(){
                SAEyeAnimation(len_text_formatted, sentiments_formatted);
                longest_phrases(phrases);
            }
        </script>
        <div class="col-lg-4 position-fixed one text-right p-5">
            <h1>Essence</h1>
            <nav>
                <a href="/">The Program</a> |
                <a href="/about.html">About</a>
            </nav>
            <h3>Instructions:</h3>
            <p>Select from a set of 10 news-sites and input a past date range (start date and end date) and number of steps to visualize the news-sites' tone and topics, over time.</p>
            <h3>Parameters:</h3>
            <form action="/" method="post">
                <label for="date_start">Date (Start):</label>
                <input type="date" id="date_start" name="date_start" required autocomplete="off"><br><br>
                <label for="date_end">Date (End):</label>
                <input type="date" id="date_end" name="date_end" required autocomplete="off"><br><br>
                <label for="n">Steps:</label>
                <input type="number" id="n" name="n" required autocomplete="off"><br><br>
                <label for="url">News-site: </label>
                <input type="url" id="url" name="url" required autocomplete="off"><br><br>
                <input type="submit">
            </form><br>
            <h6>Copyright &#169; 2022, Siddharth Tiwari</h6>
        </div>
        <div class="col-lg-auto offset-lg-4 two p-5 text-center">

            <h2>Results: </h2>
            <div class="container p-2">
                <button onclick="SAEyeAnimation(len_text_formatted, sentiments_formatted);"><svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M16 37.85v-28l22 14Zm3-14Zm0 8.55 13.45-8.55L19 15.3Z"/></svg></button>
                <button><svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M6 38v-8.7q0-3.95 2.8-6.725 2.8-2.775 6.7-2.775h20.8l-7.7-7.7 2.1-2.1L42 21.3 30.7 32.6l-2.1-2.1 7.7-7.7H15.5q-2.7 0-4.6 1.9Q9 26.6 9 29.3V38Z"/></svg></button>
            </div>
            <canvas id="visualizations" width="500" height="500"></canvas>
            <h5>Legend:</h5>

            <h4>Phrases</h4>
            <button onclick="longest_phrases(phrases);">Longest</button>
            <button onclick="most_positive_phrases(phrases);">Most Positive</button>
            <button onclick="most_negative_phrases(phrases);">Most Negative</button>
            <p id="t1"></p>
            <p id="t2"></p>
            <p id="t3"></p>
            <p id="t4"></p>
            <p id="t5"></p>

            <h4>Query Details</h4>
            <p>Date Range: {{query.date_start}}-{{query.date_end}}</p>
            <p>Steps: {{query.n}}</p>
            <p>URL: {{query.url}}</p>
            <p>Request: {{query.request}}</p>
            <p>API Returned Dates: {{query.date_accuracy}}</p>
            <p>Response: {{query.response}}</p>
            <p>Length of Scrapes: {{query.len_text_formatted}}</p>
            <p>Response: {{query.sentiments_formatted}}</p>

            <h3>Interpreting Results:</h3>

        </div>

        <script src="{{url_for('static', filename='scripts.js')}}"></script>
    </body>
</html>
